@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat-sans);
  --font-mono: var(--font-geist-mono);
  --color-fk-background: #f2f2f2;
  --color-fk-background-hover: #c2f2e5;
  --color-fk-green-hover: #038c7f;
  --color-fk-green: #078c8c;
  --color-fk-primary: #0d7f8c;
  --Color-fk-text-default: #0f0802;
  --color-fk-error-light: #fde2e2;
  --color-fk-error: #fbb6b6;
  --color-fk-error-dark: #f87171;
  --color-fk-error-text: #b91c1c;
  --color-fk-warning: #fff4e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.Toastify__toast--warning {
  color: #000 !important; /* texto preto */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Shimmer azul diagonal */
@keyframes shimmerBlue {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.skeleton-blue {
  --duration: 3.2s;
  background: linear-gradient(
    75deg,
    rgba(130, 170, 255, 0.15) 0%,
    rgba(0, 180, 255, 0.18) 20%,
    rgba(130, 170, 255, 0.15) 30%
  );

  background-size: 200% 100%;
  animation: shimmerBlue var(--duration) ease-in-out infinite;
}
